fastapi
uvicorn
streamlit
requests

langchain
langchain-community
langchain-core
langchain-chroma
langchain-huggingface
langchain-groq

chromadb

sentence-transformers

pypdf

python-dotenv
pyyaml
python-multipart

pytest